.weekdays {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    top: 125px;
    justify-content: space-around;
    flex-direction: column;
}

.spinner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 80px;
}

.smth {
    display: flex;
    flex-direction: column;
    border: 3px solid;
    margin: 15px 10px;
    position: relative;
    border-radius: 15px;
}

.smth > h4 {
    align-self: center;
    position: absolute;
    top: -15px;
    background-color: #1c86eb;
    padding: 0 10px;
}

.weekdays-items {
    display: flex;
    align-self: center;
    padding: 40px;
}

.order-card {
    margin: 0 10px;
}
