.weekdays {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
    top: 125px;
    justify-content: space-around;
}

.spinner {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    top: 80px;
}
