.notification-list {
    position: relative;
    top: 60px;
    position: absolute;
    top: 151%;
    right: -100%;
    background-color: #ffffff;
    width: 23vw;
    flex-direction: column;
    padding: 10px;
    border: 1px solid black;
}

.notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    flex-direction: column;
    border: 1px solid black;
}

.alert-number {
    position: absolute;
    top: 45%;
    left: 84.2%;
    border-radius: 50%;
    background-color: red;
    color: white;
    width: 24px;
    display: flex;
    justify-content: center;
    font-weight: 700;
}